// Base CSS Partial

body{
    max-width: 2000px;
    margin: 0 auto;
}

.wrapper{
    width: 60%;
    margin: 0 auto;
    max-width: 1300px;
}

h3 {
    padding-bottom: 30px;
    border-bottom: solid 1px rgb(162, 167, 173);
    margin-bottom: 60px;
}