// Mixins to include

@mixin font($font_size, $font_weight, $letter_spacing, $line_height, $text_transform) {
    font-size: $font_size;
    font-weight: $font_weight;
    letter-spacing: $letter_spacing;
    line-height: $line_height;
    text-transform: $text_transform;
}