// Contact Page Sections CSS Partial

@use 'variables' as *;
@use 'mixins' as *;

.contact_details{
    padding: 150px 0 120px 0;

    p{
        color: rgb(118, 122, 128);
    }

    .info{
        width: 50%;

        p{
            margin: 25px 0;
        }
    }

    .contact_divs{
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding: 70px 0;

        .address{
            padding: 0 70px;
            border-left: 1px solid rgb(162, 167, 173);
            border-right: 1px solid rgb(162, 167, 173);
        }

        div i{
            font-size: 40px;
            padding-bottom: 20px;
        }

        div p{
            line-height: 15px;
        }
    }
}

.phone_call{
    width: 100%;
    height: 700px;

    img{
        width: 100%;
        height: 700px;
        object-fit: cover;
    }
}