// Home Page (index) Sections CSS Partial

@use 'variables' as *;

.branding{
    background-color: $light_sage;
    display: flex;
    flex-direction: column;
    align-items: center;

    .img_container{
        padding-bottom: 50px;

        .img{
            padding-top: 180px;
        }

        .circular_img{
            position: relative;
            bottom: 370px;
            left: -100px;

            img{
                position: absolute;
            }
        }

    }

    .text_container{
        padding-bottom: 100px;
        display: flex;
        justify-content: center;

        .text{
            width: 25%;
            text-align: center;
            margin: 0 45px;

            h2{
                font-size: 20px;
                font-weight: $font_weight_regular;
                letter-spacing: 1px;
            }
        }
    }
}

.scroll{
    display: flex;
    padding: 120px 0;

    button{
        background: none;
        border: none;

        &:hover,
        &:focus{
            color: grey;
        }

        i{
            font-size: 30px;
        }
    }

    .blog_container{
        padding: 0 140px;

        div:first-child{
            text-align: center;
            padding-bottom: 20px;

            img{
                border-radius: 50%;
            }
        }

        div:last-child{
            text-align: center;
            font-style: $font_italic;

            p{
                color: grey;
            }
        }
    }
}

.ipad{
    height: 100vh;
    width: 100%;
    background-image: url(#{$asset_path}/home-4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 100px;

    .icons{
        width: 55%;
        margin-right: 3%;
        display: flex;
        flex-wrap: wrap;
    }
}

.icon_gallery {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;

    .icon_container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid $black;
    text-align: center;
    padding-top: 18px;

        i{
            font-size: 30px;
        }
    }

    .text_container{
        width: 75%;
        padding-right: 70px;

        h4{
            font-weight: $font_weight_regular;
        }

        p{
            color: gray;
        }
    }
}

.team{
    padding-bottom: 150px;

    h4,
    h5{
        font-weight: $font_weight_regular;
    }

    h4{
        text-align: center;
        padding-bottom: 100px;
    }

    .gallery{
        display: flex;
        flex-wrap: wrap;

        .text_container{
            width: calc(50% - 20px);
            margin: 10px;
            background-color: $white_two;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 0 30px 30px 30px;
            
            h5{
                padding-bottom: 20px;
                letter-spacing: 2px;
                color: $black;
            }

            p{
                margin: 0;
                color: rgb(162, 167, 173);
            }
        }

        .img_container,
        .h_container{
            width: 25%;
            padding: 10px;
        }

        .img_container{
            img{
                max-width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .h_container{
            display: flex;
            align-items: center;
            justify-content: center;

            h4{
                padding: 0;
            }

            span{
                display: block;
            }
        }
    }
}

.line{
    display: flex;

    div:first-child,
    div:last-child{
        width: 50%;
        height: 100vh;
    }

    div:first-child{
        background-color: $light_sage;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 10%;
        text-align: center;

        h4,
        p,
        button{
            margin: 20px 0;
        }

        button{
            background-color: $white_two;
            border: none;
            font-weight: $font_weight_bold;
            height: 60px;
            width: 200px;
            transition: 0.5s ease-in-out;

            &:hover,
            &:focus{
                box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
            }
        }
    }

    div:last-child img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
