// Variables List

// Font Families

$header_font: 'Montserrat', sans-serif;
$body_font: 'Open Sans', sans-serif;

// Color Palette

$light_sage: #C3DAB7;
$white: #FFFFFF;
$white_two: #F6F6F6;
$black: #333333;

// Asset Path

$asset_path: "../assets";

// Font Weights

$font_weight_regular: 400;
$font_weight_bold: 700;

// Font Style

$font_italic: italic;