// SCSS Stylesheet with imported partials

@use 'partials/setup';
@use 'partials/variables' as *;
@use 'partials/mixins';
@use 'partials/typography';
@use 'partials/base';
@use 'partials/header';
@use 'partials/sections_blog';
@use 'partials/comments';
@use 'partials/submit_form';
@use 'partials/footer';
