html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  letter-spacing: 0.3px;
  line-height: 24px;
  text-transform: none;
}

h1,
h2,
h3,
h4,
button,
nav {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.9px;
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 37px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 18px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #333333;
  font-size: 18px;
}

footer {
  color: #FFFFFF;
}

ul {
  font-size: 14px;
}

.wrapper {
  width: 60%;
  margin: 0 auto;
  max-width: 1300px;
}

h3 {
  padding-bottom: 30px;
  border-bottom: solid 1px rgb(162, 167, 173);
  margin-bottom: 60px;
}

header {
  height: 100vh;
  width: 100%;
  background-image: url(../assets/blog-1.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}

.nav_bar {
  padding-top: 50px;
}
.nav_bar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav_bar .wrapper .nav_left,
.nav_bar .wrapper .logo,
.nav_bar .wrapper .nav_right {
  width: 30%;
}
.nav_bar .wrapper .nav_left a {
  margin-right: 20px;
}
.nav_bar .wrapper .logo h1 {
  text-align: center;
}

.nav_right {
  text-align: end;
}
.nav_right a,
.nav_right button {
  margin-left: 20px;
}
.nav_right button {
  background: none;
  border: none;
  padding: 0;
}
.nav_right button i {
  font-size: 20px;
}
.nav_right .bag_icon i {
  position: relative;
}
.nav_right .bag_icon i div {
  position: absolute;
  background-color: #C3DAB7;
  height: 15px;
  width: 15px;
  top: 12px;
  right: -8px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav_right .bag_icon i div p {
  font-size: 10px;
  -ms-flex-item-align: center;
      align-self: center;
}

.nav_left a:hover,
.nav_right a:hover,
.nav_left a:focus,
.nav_right a:focus {
  text-decoration: line-through;
}

.blog {
  padding-top: 80px;
}
.blog .blog_title {
  padding-bottom: 60px;
}
.blog .blog_title h2 {
  padding-bottom: 20px;
}
.blog .blog_title span {
  color: rgb(162, 167, 173);
}
.blog .blog_writer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: solid 1px rgb(162, 167, 173);
}
.blog .blog_writer .writer_container,
.blog .blog_writer .info_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
.blog .blog_writer .writer_container .blog_info p:first-child,
.blog .blog_writer .info_container .blog_info p:first-child {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  letter-spacing: 0.3px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.blog .blog_writer .writer_container .blog_info p:last-child,
.blog .blog_writer .info_container .blog_info p:last-child {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgb(162, 167, 173);
  letter-spacing: 0.3px;
  line-height: 24px;
  text-transform: capitalize;
  margin-top: 5px;
}
.blog .blog_writer .writer_container img {
  border-radius: 50%;
}
.blog .blog_writer .writer_container div {
  margin-left: 40px;
}
.blog .blog_writer .info_container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog .blog_text {
  padding-top: 40px;
}
.blog .blog_text p:first-child {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 18px 0;
}
.blog .blog_text p:nth-child(2),
.blog .blog_text p:nth-child(3),
.blog .blog_text p:last-child {
  color: rgb(162, 167, 173);
  margin: 18px 0;
}
.blog .blog_icons {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}
.blog .blog_icons p,
.blog .blog_icons a {
  margin-right: 20px;
}
.blog .blog_icons p {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}

.related_posts {
  margin-bottom: 80px;
}
.related_posts .gallery_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.related_posts .gallery_container div {
  width: 32%;
}
.related_posts .gallery_container div img {
  max-width: 100%;
}
.related_posts .gallery_container div p {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.comments {
  margin-bottom: 80px;
}
.comments .comment_Jenifer,
.comments .comment_Daniel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.comments .comment_Jenifer img,
.comments .comment_Daniel img {
  height: 100%;
}
.comments .comment_Jenifer .comment_container,
.comments .comment_Daniel .comment_container {
  width: 95%;
  background-color: rgb(240, 241, 241);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 4% 100%, 4% 27%, 2% 21%, 4% 15%, 4% 0);
          clip-path: polygon(100% 0, 100% 100%, 4% 100%, 4% 27%, 2% 21%, 4% 15%, 4% 0);
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.comments .comment_Jenifer .comment_container p,
.comments .comment_Daniel .comment_container p {
  margin-left: 70px;
  font-family: "Montserrat", sans-serif;
}
.comments .comment_Jenifer .comment_container p:first-child,
.comments .comment_Daniel .comment_container p:first-child {
  text-transform: uppercase;
}
.comments .comment_Jenifer .comment_container p:first-child span,
.comments .comment_Daniel .comment_container p:first-child span {
  text-transform: capitalize;
  font-style: italic;
}
.comments .comment_Jenifer .comment_container p:nth-child(2),
.comments .comment_Daniel .comment_container p:nth-child(2) {
  font-size: 12px;
}
.comments .comment_Jenifer .comment_container p:last-child,
.comments .comment_Daniel .comment_container p:last-child {
  color: rgb(148, 153, 160);
  font-size: 10px;
}

.submit_comment .form .form_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.submit_comment .form .form_name div {
  width: 32%;
}
.submit_comment .form .form_name div input[type=text],
.submit_comment .form .form_name div input[type=email] {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(162, 167, 173);
  padding: 10px 0;
  margin-bottom: 50px;
  font-family: "Open Sans", sans-serif;
}
.submit_comment .form .form_comment textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(162, 167, 173);
  font-family: "Open Sans", sans-serif;
  padding: 10px 0;
  margin-bottom: 60px;
}
.submit_comment .form button {
  margin-bottom: 140px;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(162, 167, 173);
}

footer {
  background-color: #333333;
}
footer .wrapper {
  padding: 140px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .wrapper h4 {
  padding-bottom: 20px;
}
footer .wrapper a {
  color: white;
  font-size: 14px;
}
footer .wrapper .footer_left ul {
  list-style: none;
  padding-left: 0;
}
footer .wrapper .footer_left a {
  font-size: 14px;
  padding-right: 15px;
}
footer .wrapper .footer_middle h4 {
  text-align: center;
}
footer .wrapper .footer_middle ul {
  padding-left: 15px;
}
footer .wrapper .footer_middle ul li {
  padding-bottom: 10px;
}
footer .wrapper .footer_right {
  text-align: end;
}
footer .wrapper .footer_right p {
  padding-bottom: 20px;
}
footer .wrapper .footer_right input[type=email] {
  width: 200px;
  height: 40px;
  border: 1px solid #C3DAB7;
  padding-left: 10px;
  font-family: "Open Sans", sans-serif;
}
footer .wrapper .footer_right button {
  border: none;
  border-radius: 0;
  background-color: #C3DAB7;
  height: 40px;
  width: 40px;
}
footer .copyright {
  margin: 0;
  padding: 70px 0;
  text-align: center;
  border-top: solid 1px rgb(77, 77, 77);
}
footer .copyright a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: 6px;
  line-height: normal;
  text-transform: uppercase;
}